#img-bg{
    background-image: url('https://previews.123rf.com/images/vladwel/vladwel1809/vladwel180900051/109798832-programming-code-on-computer-vector-illustration-programme-coding-or-development-process-on-desktop-.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}